<div class="row row-cols-1 {{#gt (length data) 1}}row-cols-md-2{{/gt}} {{#gt (length data) 2}}row-cols-md-3{{/gt}} align-items-stretch mx-0">
    {{#each data}}
        <div class="col p-3">
            <div class="card h-100 bg-light border-none">
                <a href="{{ paths.href }}">
                    {{#if (match (readdir "src/static/img/blog") (concat "**/" (stem paths.dir) ".*"))}}
                        <img data-src="**/static/img/blog/{{stem paths.dir}}-thumb.*" alt="{{sanitize title}}" class="card-img-top">
                    {{else}}
                        <img data-src="**/static/img/blog/default-thumb.*" alt="{{sanitize title}}" class="card-img-top">
                    {{/if}}
                </a>
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{{ paths.href }}" class="text-dark">{{ title }}</a>
                    </h3>
                    <h5 class="card-text mt-0"><small class="text-muted">{{moment this.date "MMM D, YYYY"}} &middot; {{this.readingTime}}</small></h5>
                    <p class="card-text">{{{sanitize excerpt}}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
