<div>
    {{#each data}}
        <div class="row g-0">
            <div class="col-9 col-md-10 pe-3 pe-md-4">
                <h3 class="d-flex align-items-start justify-content-between">
                    <a href="{{paths.href}}" title="{{title}}" class="link-dark">{{ title }}</a>
                </h3>
                <h5 class="mt-0">
                    <small class="text-muted">{{luxon this.date "MMM d, yyyy"}} &middot; {{this.readingTime}}</small>
                </h5>
                <p class="mt-3">{{{sanitize excerpt}}}</p>
            </div>

            <div class="col-3 col-md-2">
                {{#if image}}
                    <a href="{{paths.href}}" title="{{title}}">
                        <img {{#if thumbSet}}srcset="{{thumbSet}}"{{/if}} src="{{thumb}}" alt="{{sanitize title}}" class="w-100">
                    </a>
                {{/if}}
                {{#if tags}}
                    <div class="d-flex justify-content-center flex-wrap {{#if image}}mt-2{{/if}}">
                        {{#each (sort tags)}}
                            <h5 class="m-1 mw-100">
                                <a href="/blog/tag/{{this}}" title="{{this}}" class="badge link-white bg-{{get "color" (get this ../../blog_tags)}} mw-100 text-break text-wrap">{{ this }}</a>
                            </h5>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>

        {{#unless @last}}
            <hr class="my-4 my-md-5">
        {{/unless}}
    {{/each}}
</div>
