<div class="row">
    <div class="col-12 col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-4 mb-md-5 pb-3 border-bottom border-secondary">
            <h1 class="m-0">Recent Articles{{#if title}} - {{title}}{{/if}}</h1>
            <h5 class="m-0">
                <a href="/blog/rss.xml" title="RSS Feed" class="text-dark">
                    <span class="fa-stack align-top">
                        <i class="fal fa-circle fa-stack-2x"></i>
                        <i class="fas fa-rss fa-stack-1x"></i>
                    </span>
                </a>
            </h5>
        </div>

        {{>blog_list_vertical data=pagination.files}}

        <hr class="my-4 my-md-5">

        <div class="d-flex justify-content-center">
            <a href="/{{pagination.previous.path}}" title="Newer" class="btn {{#eq pagination.index 0}}btn-outline-secondary disabled{{else}}btn-outline-dark{{/eq}} br-max">Newer</a>
            {{#forEach pagination.pages}}
                <a href="/{{get "path" (itemAt ../pagination.pages (subtract index 1))}}" title="Page {{index}}" class="btn {{#eq ../pagination.index (subtract index 1)}}btn-outline-primary disabled{{else}}btn-outline-dark{{/eq}} br-max ml-2">{{ index }}</a>
            {{/forEach}}
            <a href="/{{pagination.next.path}}" title="Older" class="btn {{#eq pagination.index (subtract pagination.pages.length 1)}}btn-outline-secondary disabled{{else}}btn-outline-dark{{/eq}} br-max ml-2">Older</a>
        </div>
    </div>

    <div class="col-12 col-md-3 pl-md-5 pt-5 pt-md-0">
        <h3>Article Tags</h3>
        <ul class="fa-ul ml-1 pl-0 text-md-truncate">
            {{#each (sort (unique (flat (pluck collections.blog "tags"))))}}
                <li class="my-2 d-inline-block d-md-block {{#unless @last}}mr-3 mr-md-0{{/unless}}">
                    <span class="fa-li"></span>
                    <i class="{{get "icon" (get this ../blog_tags)}} fa-fw mr-1"></i>
                    {{#eq (segments ../paths.dir -1 undefined) this}}
                        <b>{{ this }}</b>
                    {{else}}
                        <a href="/blog/tag/{{this}}" title="{{this}}">{{ this }}</a>
                    {{/eq}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
