<div class="row">
    <div class="col-12 col-md-9">
        <h1 class="mt-0 mb-4 mb-md-5 pb-3 border-bottom border-secondary">Recent Articles{{#if title}} - {{title}}{{/if}}</h1>

        {{>blog_list_vertical data=pagination.files}}

        <hr class="my-4 my-md-5">

        <div class="d-flex justify-content-center">
            <a href="/{{pagination.previous.path}}" title="Newer" class="btn {{#eq pagination.index 0}}btn-outline-secondary disabled{{else}}btn-outline-dark{{/eq}} br-max">Newer</a>
            {{#forEach pagination.pages}}
                <a href="/{{get "path" (itemAt ../pagination.pages (subtract index 1))}}" title="Page {{index}}" class="btn {{#eq ../pagination.index (subtract index 1)}}btn-outline-primary disabled{{else}}btn-outline-dark{{/eq}} br-max ms-2">{{ index }}</a>
            {{/forEach}}
            <a href="/{{pagination.next.path}}" title="Older" class="btn {{#eq pagination.index (subtract pagination.pages.length 1)}}btn-outline-secondary disabled{{else}}btn-outline-dark{{/eq}} br-max ms-2">Older</a>
        </div>
    </div>

    <div class="col-12 col-md-3 ps-md-5 pt-5 pt-md-0">
        <h3>Article Tags</h3>

        <div class="d-flex flex-wrap">
            {{#each (sort (unique (flat (pluck collections.blog "tags"))))}}
                <h5 class="m-1 mw-100">
                    <a href="/blog/tag/{{this}}" title="{{this}}" class="badge link-white bg-{{get "color" (get this ../blog_tags)}} mw-100 text-break text-wrap">{{ this }}</a>
                </h5>
            {{/each}}
        </div>

        <h6>
            <a href="/blog/rss.xml" class="text-dark">
                <i class="far fa-rss mr-1"></i>
                RSS Feed
            </a>
        </h6>
    </div>
</div>
