<div class="row">
    <div class="col-3">
        <h2>
            <a href="/blog" class="text-dark">Recent Posts</a>
        </h2>
        <ul class="fa-ul ml-1">
            {{#each (sort (unique (flat (pluck collections.blog "tags"))))}}
                <li class="my-2">
                    <span class="fa-li"></span>
                    <i class="{{get "icon" (get this ../blog_tags)}} fa-fw mr-1"></i>
                    {{#eq (segments ../paths.dir -1 undefined) this}}
                        <b>{{ this }}</b>
                    {{else}}
                        <a href="/blog/tag/{{this}}">{{ this }}</a>
                    {{/eq}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-9">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="m-0">Recent Posts</h1>
            <h5 class="m-0">
                <a href="/blog/rss.xml" title="RSS Feed" class="text-dark">
                    <span class="fa-stack align-top">
                        <i class="fal fa-circle fa-stack-2x"></i>
                        <i class="fas fa-rss fa-stack-1x"></i>
                    </span>
                </a>
            </h5>
        </div>

        {{>blog_list_vertical data=pagination.files}}

        {{#gt pagination.pages.length 1}}
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item {{#eq pagination.index 0}}disabled{{/eq}}">
                    <a href="{{ pagination.previous.path }}" class="page-link" tabindex="-1" {{#eq pagination.index 0}}aria-disabled="true"{{/eq}}>Newer Posts</a>
                </li>
                {{#forEach pagination.pages}}
                    {{#eq ../pagination.index (subtract index 1)}}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ index }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {{else}}
                        <li class="page-item {{#eq ../pagination.index (subtract index 1)}}active{{/eq}}" {{#eq ../pagination.index (subtract index 1)}}aria-current="page"{{/eq}}>
                            <a href="{{get "path" (itemAt ../pagination.pages index)}}" class="page-link">{{ index }}</a>
                        </li>
                    {{/eq}}
                {{/forEach}}
                <li class="page-item {{#eq pagination.index (subtract pagination.pages.length 1)}}disabled{{/eq}}">
                    <a href="{{ pagination.next.path }}" class="page-link" tabindex="-1" {{#eq pagination.index (subtract pagination.pages.length 1)}}aria-disabled="true"{{/eq}}>Older Posts</a>
                </li>
            </ul>
        {{/gt}}
    </div>
</div>
