<!DOCTYPE html>
<html lang="{{sanitize sitelanguage}}">
<head>
    <!-- SEO GOOD https://moz.com/blog/seo-meta-tags -->
    <meta charset="{{sanitize sitecharset}}">
    <title>{{sanitize pageTitle}}</title>
    <meta name="description" content="{{sanitize pageDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO INDIFFERENT https://moz.com/blog/seo-meta-tags -->
    <!-- metalsmith-open-graph -->
    <!-- metalsmith-twitter-card -->
    {{#if sitekeywords}}
        <meta name="keywords" content="{{#each sitekeywords}}{{ this }}{{else}}{{ sitekeywords }}{{/each}}">
    {{/if}}

    <!-- https://blog.wsol.com/seo-for-https-sites-should-you-implement-the-meta-referrer-tag -->
    <meta name="referrer" content="unsafe-url">

    {{#each favicons.html}}
        {{{ this }}}
    {{/each}}

    <link rel="stylesheet" href="**/*.css">
</head>

<body class="bg-secondary bg-trianglify" data-parallax="scroll" data-parallax-velocity="0.25">
<nav class="navbar navbar-expand-md navbar-dark fixed-top clearfix bg-dark vw-100 {{#unless no_container}}shadow{{/unless}}">
    <div class="container h-100">
        <a class="navbar-brand h-100" href="/">
            <img src="**/logo3_Gray_Lighter.svg" title="Logo" class="h-100 mr-2">
            <span class="align-middle">Christian Emmer</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center ml-auto">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/blog">Blog</a>-->
<!--                </li>-->
                {{#each icons.header}}
                    <li class="nav-item">
                        <a href="{{link}}" target="_blank" title="{{title}}" class="nav-link pr-0">
                            <span class="fa-stack align-top">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="{{icon}} fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>

<main>
    {{#unless no_container}}
        <div class="navbar-spacer fixed-top"></div>
        <div class="my-6 bg-light">
            <div class="container py-6">
                {{{ contents }}}
            </div>
        </div>
<!--        <div class="container my-5 p-5 {{#if background}}bg-{{background}}{{/if}}">-->
<!--            {{{ contents }}}-->
<!--        </div>-->
    {{else}}
        {{{ contents }}}
    {{/unless}}
</main>

<footer class="bg-dark text-light {{#unless no_container}}shadow{{/unless}}">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <div class="text-center">&copy; {{ year }}</div>
        <div>
            {{#each icons.footer}}
                <a href="{{link}}" target="_blank" title="{{title}}" class="text-white">
                    <span class="fa-stack align-top">
                        <i class="fal fa-circle fa-stack-2x"></i>
                        <i class="{{icon}} fa-stack-1x"></i>
                    </span>
                </a>
            {{/each}}
        </div>
    </div>
</footer>

<script src="**/!(scripts).js"></script>
<script src="**/scripts.js"></script>
</body>
</html>
