<!DOCTYPE html>
<html class="h-100" lang="{{{sanitize sitelanguage}}}">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155149217-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-155149217-1');
    </script>

    <!-- SEO GOOD https://moz.com/blog/seo-meta-tags -->
    <meta charset="{{{sanitize sitecharset}}}">
    <title>{{{sanitize pageTitle}}}</title>
    <meta name="description" content="{{{sanitize pageDescription}}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO INDIFFERENT https://moz.com/blog/seo-meta-tags -->
    <!-- metalsmith-open-graph -->
    <!-- metalsmith-twitter-card -->
    {{#if sitekeywords}}
        <meta name="keywords" content="{{#each sitekeywords}}{{ this }}{{else}}{{ sitekeywords }}{{/each}}">
    {{/if}}

    <!-- https://blog.wsol.com/seo-for-https-sites-should-you-implement-the-meta-referrer-tag -->
    <meta name="referrer" content="unsafe-url">

    {{#each favicons.html}}
        {{{ this }}}
    {{/each}}

    <link rel="stylesheet" href="**/styles*.css">
</head>

<body class="d-flex flex-column h-100 bg-secondary bg-trianglify" data-parallax="scroll" data-parallax-velocity="0.25">
<nav class="navbar navbar-expand-md navbar-dark fixed-top clearfix bg-dark vw-100 px-4 shadow">
    <div class="container-xl px-0">
        <a class="navbar-brand" href="/">
            <img src="**/logo3_Gray_Lighter.svg" alt="Logo" class="mr-2">
            <span class="align-middle">{{ sitename }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-2 mt-md-0 pt-2 pt-md-0 border-top border-md-none border-light" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center ml-auto">
                {{#each menu.header}}
                    <li class="nav-item{{#eq (segments ../path.dir 0 1) link}} active{{/eq}} my-1 my-md-0">
                        <a class="nav-link nav-link-underline" href="/{{link}}">{{title}}</a>
                    </li>
                {{/each}}
                <li class="nav-item d-flex">
                    {{#each icons.header}}
                        <a href="{{link}}" {{#if title}}title="{{title}}"{{/if}} class="nav-link mx-1 px-0">
                            <span class="fa-stack align-top">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="{{icon}} fa-stack-1x"></i>
                            </span>
                        </a>
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    {{#if pageContainer}}
        <div class="navbar-spacer fixed-top"></div>
        <div class="{{#if pageWide}}container-lg{{else}}container-md mw-md-md px-0{{/if}} pt-4 pt-lg-5 pt-xl-6 {{#and (inArray collection "blog") (gt collections.blog.length 2)}}pb-3{{else}}pb-4 pb-lg-5 pb-xl-6{{/and}} markdown">
            {{#if pageHeader}}
                <div class="{{#if pageHeader}}brt-1{{else}}br-1{{/if}} {{#if pageBackground}}pt-4 px-4 pt-md-5 px-md-5 bg-light{{else}}bg-transparent{{/if}}">
                    <h1>{{ title }}</h1>
                    <div class="media align-items-center">
                        <img src="{{gravatar.main}}?r=g&d=mp&s=48" class="mr-3 rounded-circle img-thumbnail bg-dark border-none" alt="{{ sitename }}">
                        <div class="media-body">
                            <div>{{ sitename }}</div>
                            <div class="text-muted">{{moment this.date "MMMM D, YYYY"}}</div>
                        </div>
                    </div>
                </div>
                {{#if (match (readdir "src/static/img/blog") (concat "**/" (stem path.dir) ".@(bmp|gif|jpg|jpeg|png|svg|tif|tiff|webp)"))}}
                    <div class="{{#if pageBackground}}pt-5 bg-light{{else}}bg-transparent{{/if}}">
                        <img src="**/static/img/blog/{{stem path.dir}}.@(bmp|gif|jpg|jpeg|png|svg|tif|tiff|webp)" alt="{{{sanitize title}}}" class="w-100 og-image">
                    </div>
                {{/if}}
            {{/if}}
            <div class="{{#if pageHeader}}brb-1{{else}}br-1{{/if}} {{#if pageBackground}}p-4 p-md-5 bg-light{{else}}bg-transparent{{/if}}">
                {{{ contents }}}
            </div>
        </div>

        {{#and (inArray collection "blog") (gt collections.blog.length 2)}}
            <div class="container-xl pb-3 pb-lg-5 pb-xl-6 markdown">
                {{>blog_list data=(reverse (sortBy (array (coalesce previous (last collections.blog)) (coalesce next (first collections.blog))) "date"))}}
            </div>
        {{/and}}
    {{else}}
        {{{ contents }}}
    {{/if}}
</main>

<footer class="footer mt-auto bg-dark text-light shadow">
    <div class="container-xl">
        <div class="row row-cols-1">
            <div class="col p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center">&copy; {{ year }} {{ sitename }}</div>
                    <div class="d-flex">
                        {{#each icons.footer}}
                            <a href="{{link}}" title="{{title}}" class="text-decoration-none mx-1">
                                <span class="fa-stack align-top">
                                    <i class="fal fa-circle fa-stack-2x"></i>
                                    <i class="{{icon}} fa-stack-1x"></i>
                                </span>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="**/scripts*.js"></script>
</body>
</html>
