<!DOCTYPE html>
<html class="h-100" lang="{{{sanitize sitelanguage}}}">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155149217-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-155149217-1');
    </script>

    <!-- SEO GOOD https://moz.com/blog/seo-meta-tags -->
    <meta charset="{{{sanitize sitecharset}}}">
    <title>{{{sanitize pageTitle}}}</title>
    <meta name="description" content="{{{sanitize pageDescription}}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO INDIFFERENT https://moz.com/blog/seo-meta-tags -->
    <!-- metalsmith-open-graph -->
    <!-- metalsmith-twitter-card -->
    {{#if sitekeywords}}
        <meta name="keywords" content="{{#each sitekeywords}}{{ this }}{{else}}{{ sitekeywords }}{{/each}}">
    {{/if}}

    <!-- https://blog.wsol.com/seo-for-https-sites-should-you-implement-the-meta-referrer-tag -->
    <meta name="referrer" content="unsafe-url">

    {{#each favicons.html}}
        {{{ this }}}
    {{/each}}

    <link rel="stylesheet" href="**/*.css">
</head>

<body class="d-flex flex-column h-100 bg-secondary bg-trianglify" data-parallax="scroll" data-parallax-velocity="0.25">
<nav class="navbar navbar-expand-md navbar-dark fixed-top clearfix bg-dark vw-100 px-4 shadow">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="/">
            <img src="**/logo3_Gray_Lighter.svg" title="Logo" class="mr-2">
            <span class="align-middle">{{ sitename }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-2 mt-md-0 pt-2 pt-md-0 border-top border-md-none border-light" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center ml-auto">
                {{#each menu.header}}
                    <li class="nav-item{{#eq (segments ../path.dir 0 1) link}} active{{/eq}} my-1 my-md-0">
                        <a class="nav-link nav-link-underline" href="/{{link}}">{{title}}</a>
                    </li>
                {{/each}}
                <li class="nav-item d-flex">
                    {{#each icons.header}}
                        <a href="{{link}}" {{#if title}}title="{{title}}"{{/if}} class="nav-link mx-1 px-0">
                            <span class="fa-stack align-top">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="{{icon}} fa-stack-1x"></i>
                            </span>
                        </a>
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    {{#if pageContainer}}
        <div class="navbar-spacer fixed-top"></div>
        <div class="container-fluid pt-5 pt-lg-6 {{#and (inArray collection "blog") (gt collections.blog.length 2)}}pb-3{{else}}pb-5 pb-lg-6{{/and}} markdown">
            <div class="row">
                <div class="col-12 {{#unless pageWide}}col-xl-8 offset-xl-2{{/unless}} col-md-10 offset-md-1 p-0 br-1 {{#if pageBackground}}bg-light{{else}}bg-transparent{{/if}}">
                    <div class="{{#if pageBackground}}p-4 p-md-5{{else}}p-0{{/if}}">
                        {{#if pageHeader}}
                            <h1>{{ title }}</h1>
                            <h5 class="mt-0">
                                <small class="text-muted">{{moment this.date "MMMM D, YYYY"}} by {{ sitename }}</small>
                            </h5>
                            <br>
                            {{#if (match (readdir "src/static/img/blog") (concat "**/" (stem path.dir) ".@(bmp|gif|jpg|jpeg|png|svg|tif|tiff|webp)"))}}
                                <img src="**/static/img/blog/{{stem path.dir}}.@(bmp|gif|jpg|jpeg|png|svg|tif|tiff|webp)" class="w-100 mb-5 og-image">
                            {{/if}}
                        {{/if}}
                        {{{ contents }}}
                    </div>
                </div>
            </div>
        </div>

        {{#and (inArray collection "blog") (gt collections.blog.length 2)}}
            <div class="container-fluid pb-5 pb-lg-6">
                <div class="row">
                    <div class="col-12 {{#unless pageWide}}col-xl-8 offset-xl-2{{/unless}} col-md-10 offset-md-1 p-0 br-1 markdown">
                        {{>blog_list data=(reverse (sortBy (array (coalesce previous (last collections.blog)) (coalesce next (first collections.blog))) "date"))}}
                    </div>
                </div>
            </div>
        {{/and}}
    {{else}}
        {{{ contents }}}
    {{/if}}
</main>

<footer class="footer mt-auto bg-dark text-light shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center">&copy; {{ year }} {{ sitename }}</div>
                    <div class="d-flex">
                        {{#each icons.footer}}
                            <a href="{{link}}" title="{{title}}" class="text-decoration-none mx-1">
                                <span class="fa-stack align-top">
                                    <i class="fal fa-circle fa-stack-2x"></i>
                                    <i class="{{icon}} fa-stack-1x"></i>
                                </span>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="**/!(scripts).js"></script>
<script src="**/scripts.js"></script>
</body>
</html>
