<!DOCTYPE html>
<html class="h-100" lang="{{sanitize sitelanguage}}">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NK4M8WMYHC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NK4M8WMYHC');
    </script>

    <title>{{sanitize pageTitle}}</title>
    <meta charset="{{sanitize sitecharset}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="referrer" content="unsafe-url">

    <!-- META TAGS FOR EVERY PAGE -->
    <meta name="title" content="{{sanitize pageTitle}}">
    <meta name="description" content="{{sanitize pageDescription}}">
    <meta name="author" content="{{sanitize sitename}}">
    {{#each favicons.html}}
        {{{ this }}}
    {{/each}}
    <meta name="robots" content="index,follow">

    <!-- metalsmith-open-graph (https://ogp.me/) -->
    <!-- (more properties will be added by the plugin) -->
    <meta property="og:url" content="{{siteurl}}{{paths.href}}">
    {{#eq (segments paths.dir 0 1) "blog"}}
        {{#if this.date}}
            <meta property="article:published_time" content="{{luxon this.date}}">
            {{#if this.updated}}
                <meta property="article:modified_time" content="{{luxon this.updated}}">
            {{/if}}
        {{/if}}
        <meta property="article:author" content="{{sitename}}">
        {{#if tags}}
            {{#each tags}}
                <meta property="article:tag" content="{{this}}">
            {{/each}}
        {{/if}}
    {{/eq}}

    <!-- metalsmith-twitter-card (https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary) -->
    <!-- (more properties will be added by the plugin) -->
    {{#eq (segments paths.dir 0 1) "blog"}}
        <meta name="twitter:label1" value="Reading time">
        <meta name="twitter:data1" value="{{readingTime}}">
    {{/eq}}

    <!-- metalsmith-jsonld (https://json-ld.org/) -->
    {{#if jsonld}}
        {{{ jsonld }}}
    {{/if}}

    <!-- metalsmith-feed -->
    {{#eq (segments paths.dir 0 1) "blog"}}
        <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml">
    {{/eq}}

    {{#if pagination.previous}}
        <link rel="prev" href="/{{pagination.previous.path}}">
    {{/if}}
    {{#if pagination.next}}
        <link rel="next" href="/{{pagination.next.path}}">
    {{/if}}

    <!-- https://csswizardry.com/2020/05/the-fastest-google-fonts/ -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    </noscript>

    <link rel="stylesheet" href="**/styles*.css">
</head>

<body class="d-flex flex-column h-100 bg-secondary bg-trianglify" data-parallax="scroll">
<nav class="navbar navbar-expand-md navbar-dark clearfix bg-dark px-3 px-md-4 shadow">
    <div class="container-xl px-0">
        <div class="d-flex justify-content-between align-items-center flex-nowrap w-100">
            <a href="/" title="Home" class="navbar-brand text-truncate" >
                <img src="{{sitelogo}}" alt="Logo" width="38" height="38" class="me-2">
                <span class="align-middle">{{ sitename }}</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse mt-2 mt-md-0 pt-2 pt-md-0 border-top border-md-0 border-light" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center ms-auto">
                {{#each menu.header}}
                    <li class="nav-item{{#eq (segments ../paths.dir 0 1) link}} active{{/eq}} my-1 my-md-0">
                        <a href="/{{link}}" title="{{title}}" class="nav-link nav-link-underline">{{title}}</a>
                    </li>
                {{/each}}
                <li class="nav-item d-flex my-1 my-md-0">
                    {{#each icons.header}}
                        <a href="{{link}}" {{#if title}}title="{{title}}"{{/if}} class="nav-link mx-1 px-0">
                            <span class="fa-stack align-top">
                                <i class="fa-light fa-circle fa-stack-2x"></i>
                                <i class="{{icon}} fa-stack-1x"></i>
                            </span>
                        </a>
                    {{/each}}
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="progress position-fixed w-100 br-0 bg-transparent" style="height: 4px;">
    <div id="page-progress" class="progress-bar bg-primary"></div>
</div>

<main>
    {{#if pageContainer}}
        <div class="{{#if pageSize}}container-{{pageSize}} mw-{{pageSize}}-{{pageSize}}{{else}}container-md mw-md-md{{/if}} px-0 pt-4 pt-md-5 pt-xl-6 {{#inArray (arrayify collection) "blog"}}pb-3{{else}}pb-4 pb-md-5 pb-xl-6{{/inArray}} markdown" {{#inArray (arrayify collection) "blog"}}data-page-progress="page-progress"{{/inArray}}>
            {{#if pageHeader}}
                <div id="metadata" class="brt-{{#if pageSize}}{{pageSize}}{{else}}md{{/if}}-1 pt-4 px-4 pt-md-5 px-md-5 bg-light">
                    <h1>{{ title }}</h1>
                    <div class="media d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            {{>gravatar size=56 class="me-3 rounded-circle img-thumbnail bg-dark border-0"}}
                            <div class="media-body">
                                <div>{{ sitename }}</div>
                                <div class="text-muted"><span title="{{luxon this.date "fff"}}">{{luxon this.date "DD"}}</span> &middot; {{readingTime}}</div>
                            </div>
                        </div>
                        <div class="d-flex flex-nowrap">
                            <!-- TODO: "Fanboy's Social Blocking List" may block some of these -->
                            <a href="https://twitter.com/intent/tweet?url={{{encodeURI siteurl}}}{{{encodeURI paths.href}}}&text={{{encodeURI (concat title " by " twitterhandle)}}}" title="Share on Twitter" class="link-dark">
                                <span class="fa-stack align-top">
                                    <i class="fa-light fa-circle fa-stack-2x"></i>
                                    <i class="fa-brands fa-x-twitter fa-stack-1x"></i>
                                </span>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?url={{{encodeURI siteurl}}}{{{encodeURI paths.href}}}&mini=true&title={{{encodeURI title}}}&summary={{{encodeURI excerpt}}}&source={{{encodeURI sitename}}}" title="Share on LinkedIn" class="link-dark">
                                <span class="fa-stack align-top">
                                    <i class="fa-light fa-circle fa-stack-2x"></i>
                                    <i class="fa-brands fa-linkedin-in fa-stack-1x"></i>
                                </span>
                            </a>
                            <!--<a href="https://www.facebook.com/sharer.php?u={{{encodeURI siteurl}}}{{{encodeURI paths.href}}}" title="Share on Facebook" class="link-dark">
                                <span class="fa-stack align-top">
                                    <i class="fa-light fa-circle fa-stack-2x"></i>
                                    <i class="fa-brands fa-facebook-f fa-stack-1x"></i>
                                </span>
                            </a>-->
                            <a href="/blog/rss.xml" title="RSS Feed" class="d-none d-md-inline link-dark">
                                <span class="fa-stack align-top">
                                    <i class="fa-light fa-circle fa-stack-2x"></i>
                                    <i class="fa-regular fa-rss fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {{#if image}}
                    <div class="pt-5 bg-light">
                        <picture>
                            {{{ imageSources }}}
                            <img src="{{image}}" alt="{{sanitize title}}" class="w-100 og-image">
                        </picture>
                        {{#if imageCredit}}
                            <p class="mt-3 text-center font-italic">{{{ imageCredit }}}</p>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
            <div id="contents" class="{{#not pageHeader}}brt-{{#if pageSize}}{{pageSize}}{{else}}md{{/if}}-1{{/not}} {{#not pageFooter}}brb-{{#if pageSize}}{{pageSize}}{{else}}md{{/if}}-1{{/not}} m-collapse p-4 p-md-5 bg-light">
                {{{ contents }}}
            </div>
            {{#if pageFooter}}
                <div class="d-flex justify-content-between brb-{{#if pageSize}}{{pageSize}}{{else}}md{{/if}}-1 pb-4 px-4 pb-md-5 px-md-5 bg-light">
                    <div class="d-flex align-items-center flex-wrap">
                        {{#if tags}}
                            <i class="fa-regular fa-tags"></i>
                            {{#each tags}}
                                <span class="my-0 ms-2 mw-100 fs-5">
                                    <a href="/blog/tag/{{this}}" title="{{this}}" class="badge link-white bg-{{get "color" (get this ../blog_tags)}} mw-100 text-break text-wrap">{{ this }}</a>
                                </span>
                            {{/each}}
                        {{/if}}
                    </div>
                    <a href="https://twitter.com/search?q={{{encodeURI siteurl}}}{{{encodeURI paths.href}}}" title="Discuss on X" class="font-italic">
                        <i class="fa-brands fa-x-twitter"></i>
                        Discuss on X
                    </a>
                </div>
            {{/if}}
        </div>

        {{#and (inArray (arrayify collection) "blog") (gte collections.blog.length 6)}}
            <div class="container-xl pb-3 pb-lg-5 pb-xl-6 markdown">
                {{>blog_list_horizontal data=related.blog}}
            </div>
        {{/and}}
    {{else}}
        {{{ contents }}}
    {{/if}}
</main>

<footer class="footer mt-auto bg-dark text-light shadow">
    <div class="container-xl">
        <div class="row row-cols-1">
            <div class="col p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center">&copy; {{ year }} {{ sitename }}</div>
                    <div class="d-flex">
                        {{#each icons.footer}}
                            <a href="{{link}}" title="{{title}}" class="mx-1">
                                <span class="fa-stack align-top">
                                    <i class="fa-light fa-circle fa-stack-2x"></i>
                                    <i class="{{icon}} fa-stack-1x"></i>
                                </span>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="**/scripts*.js"></script>
</body>
</html>
